
// Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i|Noto+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";

// select2 for bootstrap
@import '~select2/src/scss/core';
@import '~select2-bootstrap4-theme/src/select2-bootstrap4';

// font fortawesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// pc-bootstrap4-datetimepicker
@import "~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build";

// sweetalert2
@import '~sweetalert2/src/sweetalert2';

// tether
@import '~tether/src/css/tether';
@import '~tether/src/css/tether-theme-arrows';
@import '~tether/src/css/tether-theme-arrows-dark';
@import '~tether/src/css/tether-theme-basic';

// pretty checkbox
@import '~pretty-checkbox/src/pretty-checkbox.scss';

// mdi font
@import '~@mdi/font/scss/materialdesignicons.scss';

body {
	background-color: #17a2b8;
	// background-color: #0B8165;
	// background: url(images/background.jpg);
	// background-attachment: fixed;
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center center;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}
// body:hover {
// 	background-color: #138496;
// }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 4px 4px 4px #aaa;
}
// .jumbotron {
// 	background-image: url("images/404.jpg");
// 	// height: 1366px;
// 	// background-attachment: fixed;
// 	// background-repeat: no-repeat;
// 	// background-size: auto 100%;
// 	background-size: cover;
// 	// background-position: center center;
// 	color: white;
// }

.card {
	border: $card-border-width solid $gray-500;
}
.card-header {
	// background-color: $gray-400;
	background-color: $gray-500;
	// background-color: #9eff98;
	// background-color: #f56686;
}